<h2>Enter New Artist:</h2>
<form id="new-form" action="/artists" method="POST">
    <label>Artist:</label>
    <input type="text" name="name">
    <label>Genre:</label>
    <input type="text" name="genre">
    <label>Founded</label>
    <input type="text" name="yearFounded">
    <input type="submit" value="Add Artist">
  </form>